<% if (is_category()) { %>
  <div class="category-name">
    <%= __('category') + ': ' + page.category %>
  </div>
<% } else if (is_tag()) { %>
  <div class="tag-name">
    <%= __('tag') + ': ' + page.tag %>
  </div>
<% } %>
<div class="posts-list">
  <% page.posts.each(function(post, i) { %>
    <div class="post-summary">
      <div class="post-title">
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
      <div class="post-date">
        <%= date(post.date, "MMM Do, YYYY") %>
      </div>
    </div>
  <% }) %>
</div>
<% if (page.total > 1) { %>
<div class="paginator">
  <% var prev_text = "&laquo; ";var next_text = " &raquo;"%>
  <%- paginator({
    prev_text: prev_text,
    next_text: next_text
  }) %>
</div>
<% } %>
